* text=auto
Makefile text eol=lf
Dockerfile* text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.diff text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
ext/* linguist-vendored
