.DS_Store
/.vscode/settings.json
/bin/
/build/deps/
/build/downloads/
/build/files/deps.tar
/build/files/sysroot-*
/build/sysroots/sysroot-*
/callgrind*
/cmake
/debug.log
/dist/
/help-temp/
/mac-arm64/
/mac-x64/
/obj/
/publish/
/resources-temp/
/test_filter
/tidy.log
/turbo/
/tvision/
/tzdb.tar
/valgrind*
/win-arm64-del/
/win-arm64/
/win-native-del/
/win-native/
/win-x64-del/
/win-x64/
/win-x86-del/
/win-x86/
