* text=auto
*.bas eol=lf linguist-language=BASIC
*.c text eol=lf
*.cfg text eol=lf
*.cpp text eol=lf
*.diff text eol=lf
*.h text eol=lf
*.html text eol=lf
*.ini ext eol=lf
*.js text eol=lf
*.json text eol=lf
*.linq text eol=crlf linguist-documentation
*.md text eol=lf
*.rc text eol=crlf
*.sh text eol=lf
*.supp text eol=lf
*.txt text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Dockerfile* text eol=lf
Makefile text eol=lf
doc/* linguist-documentation
/src/boost/* linguist-documentation
