ext/tvision/bin
bin
obj
.vscode/settings.json
valgrind.txt
ext/mpdecimal/Makefile
ext/mpdecimal/config.log
ext/mpdecimal/config.h
ext/mpdecimal/config.status
ext/mpdecimal/libmpdec++/Makefile
ext/mpdecimal/libmpdec/Makefile
ext/mpdecimal/libmpdec/mpdecimal.h
ext/mpdecimal/tests++/Makefile
ext/mpdecimal/tests/Makefile
ext/mpdecimal/libmpdec++/.objs/*.o
ext/mpdecimal/libmpdec++/*.o
ext/mpdecimal/libmpdec++/*.a
ext/mpdecimal/libmpdec++/*.so*
ext/mpdecimal/libmpdec/.objs/*.o
ext/mpdecimal/libmpdec/*.o
ext/mpdecimal/libmpdec/*.a
ext/mpdecimal/libmpdec/*.so*
doc/diagrams/license*.txt
